/* Mobile */
@media screen and (max-width: 480px) {

  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 4vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 4svb;
  }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 2vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 5svb;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 2vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 5svb;
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1366px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 4vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 7svb;
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 4vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 7svb;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 4vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 7svb;
  }
}

@media (min-width: 1921px) {
  .projects-container h1{
    color: black;
    z-index: 1;
    margin-top: 4vh;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 7svb;
  }
}

.projects-container{
    width: 100%;
    height: auto;
    min-height: 78vh;
    /* overflow-y: scroll; */
    text-align: center;
}

.animated-component-projects {
    position: relative;
    top: -100%; /* Start off-screen on the left */
    visibility: hidden;
    transition: top 0.5s ease-in-out; /* Add a smooth transition effect */
}

.animate-projects {
    visibility: visible;
    top: 0; /* Move to the final position (on-screen) */
}

.yellow-rectangle-new_projects {
    width: 100%;
    height: 55vh;
    z-index: -1;
    margin-bottom: -480px;
    background-color: yellow;
}

/* .card-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
} */


.card-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 20px;
    padding: 20px;
  }

  .card h2 {
    margin-top: 0;
  }

  .card-image{
    height: fit-content;
    max-height: 35vh;
    background-color: rgb(255, 255, 255);
  }

  .card_content{
    background-color: rgb(255, 255, 255);
  }

  .grid{
    z-index: 1;
    margin-top: 6vh;
    margin-bottom: 2vh;
  }

  .spinner_container{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: transparent;
  }

  .inner_spinner{
    align-items: center;
  }

  .project-buttons{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
  }