/* Mobile */
@media screen and (max-width: 600px) {

  .button_container{
    position: relative;
    justify-content: flex-end;

  }

}

/* Desktop */
@media (min-width:801px){


  .button_container{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for small tablets */
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS rules for large tablets */
}

.tab-content{
  display: grid;
  place-items: center;
  width: auto;
  height: 100%;
}

.resume-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    min-height: 78vh;
}

  
.animated-component-new {
    position: relative;
    right: -100%; /* Start off-screen on the left */
    visibility: hidden;
    transition: right 0.5s ease-in-out; /* Add a smooth transition effect */
  }
  
  .animate-new {
    visibility: visible;
    right: 0; /* Move to the final position (on-screen) */
  }

  .yellow-rectangle_new {
    width: 50%;
    height: 100%;
    position:absolute; /* Fixed position to stay in place */
    top: 0; /* Align to the top of the screen */
    right: 0;
    z-index: -1;
    min-height: 78vh;
    background-color: yellow;
}

.content{
    z-index: 1;
    position: relative;
}


